# macos garbage
.DS_Store

# binary stuff
*.o
*.out
ATwebserv/webserv

# tmp files
ATwebserv/out.html

# changing 4xx.html
ATwebserv/files/error_pages/error_4xx.html

# debug
*.out.dSYM
*.dylib
*.gdb_history

# utils and IDE stuff
personalDir
.vscode
exam06
*.swiftdoc
*.swiftmodule
.*.swp
*.vim

