body
{
	margin:	0;
    background-color: #2A292F;
	color:	#00BBBD;
}

.header
{
    background-color: #18171b;
	padding:	5%;
	width:	100%;
	margin-top:	0px;
}

.footer
{
    background-color: #18171b;
	padding:	7%;
	width:	100%;
	margin-bottom:	0px;
}

#Page
{
	position:	relative;
	margin-right:	25%;
	margin-left:	25%;
	margin-top:	5%;
	margin-bottom:	5%;
}

#Title
{
	position:	relative;
	margin-right:	10%;
	margin-left:	10%;
	margin-top:	2%;
	margin-bottom:	3%;
}

#Form
{
	position:	relative;
	border-radius:	25px;
	margin-right:	15%;
	margin-left:	15%;
	margin-bottom:	3%;
}

h1
{
	font-size:	300%;
	text-align:	center;
}
